template#secret-field-template
  .input-group.input-group-lg
    .input-group-btn
      button.btn.btn-default(v-on:click='selectSecret', v-if='directMode',
                             type='button', tabindex='-1')
        span.glyphicon.glyphicon-chevron-right
      button.btn.btn-default(v-on:click='generateSecret', v-bind:title='currentAlphabetRegExp',
                             v-if='!directMode',
                             type='button', tabindex='-1')
        span.glyphicon.glyphicon-random
      button.btn.btn-default.dropdown-toggle(v-if='!directMode',
                                             type='button', data-toggle='dropdown'
                                             aria-haspopup='true' aria-expanded='false')
        span.caret
        span.sr-only Toggle Dropdown
      ul.dropdown-menu(v-if='!directMode')
        li(v-for='alphabetRegExp in alphabetRegExps')
          a(v-on:click='chooseAlphabet(alphabetRegExp)', href='#') {{alphabetRegExp}}
    input.form-control(v-model='secret', type='text', autocomplete='off',
                       v-bind:placeholder='title', v-bind:title='title',
                       v-bind:tabindex='tabIndex', v-bind:readonly='directMode')
