include ./passphrase-field/passphrase-field.jade
include ./public-key-reader-field/public-key-reader-field.jade
include ./public-key-writer-field/public-key-writer-field.jade
include ./secret-generator-field/secret-generator-field.jade
include ./secret-field/secret-field.jade

template#secret-form-template
	.container
		form.form-horizontal(role='form', v-cloak)
			.form-group(style='padding-top: 2px;')
				.col-md-12
					button.btn.btn-info.btn-xs.pull-right(type='button', v-on:click='startIntro')
						span.glyphicon.glyphicon-question-sign
					span.label.label-default.pull-left(v-show='isDirectMode') Direct mode
					span.label.label-warning.pull-left(v-show='isReverseMode') Reverse mode

			passphrase-field(v-ref:passphrase-field,
					v-bind:passphrase.sync='passphrase')
			
			public-key-reader-field(v-ref:public-key-reader-field,
					v-show='isDirectMode',
					v-bind:public-key.sync='chosenPublicKey',
					v-bind:public-key-name.sync='chosenPublicKeyName',
					tab-index='2')
			secret-generator-field(v-ref:secret-generator-field,
					v-show='isReverseMode',
					v-bind:secret.sync='generatedSecret',
					tab-index='2')
				
			.form-group.text-center(title='Mode trigger')
				.col-md-12
					button.btn.btn-lg(v-on:click='toggleMode',
							data-step-index='6',
							v-bind:class='{"btn-default": isDirectMode, "btn-warning": isReverseMode}',
							type='button', tabindex='-1')
						span.glyphicon.glyphicon-sort
					
			secret-field(v-ref:secret-field,
					v-show='isDirectMode',
					v-bind:secret='computedSecret',
					v-bind:error='secretComputationError',
					tab-index='3')
			public-key-writer-field(v-ref:public-key-writer-field,
					v-show='isReverseMode',
					v-bind:public-key='computedPublicKey',
					v-bind:public-key-name.sync='enteredPublicKeyName',
					v-bind:error='publicKeyComputationError',
					tab-index='3')
